{% extends 'header.html' %}

{% block title %}
ResetPassword
{% endblock title %} 

{% block content %}
<div class="container">
<div class="ui active dimmer" id="load" hidden>
    <div class="ui large text loader">Loading</div> 
  </div>
</div>

<div class="container">

  <div class="col-lg-5 col-md-6 mx-auto ui segment mt-4 p-4">
    <h1>Reset Password Form</h1>

    <br>
    <div class="ui error message " id="message" {% if not error %} hidden {% endif %} >
        {{error}}
    </div>
    {% if step1 %}
    <form id="step1" class="ui form"   method="POST" action="/reset-password-verification">
      {% csrf_token %}
      
     
      <div class="field">
        <label>Email</label>
        <input type="email" name="email" placeholder="example@gmail.com" required>
      </div>
      <div class="field">
        <button class="ui button teal btn-block">Send Verification Code</button>
      </div>
     
      
      
    
    </form>
    {% endif %}

    {% if step2 %}
    <form id="step2" class="ui form" id="form"  method="POST" action="/verify-reset-password-code">
      {% csrf_token %}
      
     
      <div class="field">
        <label>Verification Code</label>
        <input type="number" name="code" placeholder="999XXX" required>
      </div>
      <div class="field">
        <button class="ui button teal btn-block">Verify Code</button>
      </div>
     
      
      
    
    </form>
    {% endif %}

    {% if step3 %}
    <form id="step3" class="ui form" id="form"  method="POST" action="/reset-password">
      {% csrf_token %}
      
     
      <div class="field">
        <label>New Password</label>
        <input type="text" name="password" placeholder="999XXX">
      </div>
      <div class="field">
        <label>Confirm Password</label>
        <input type="text" name="cpassword" placeholder="999XXX">
      </div>
      <div class="field">
        <button class="ui button teal btn-block">Change Password</button>
      </div>
     
      
      
    
    </form>
    {% endif %}
  </div>
</div>

{% endblock %}
